:root {
  --primary-color: #6c63ff;
  --secondary-color: #f9f7fe;
  --heading-font-family: "Playfair Display SC", serif;
  --paragraph-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--paragraph-font-family);
}
h1,
h2,
h3,
h4,
h5 {
  font-family: var(--heading-font-family);
}
h1 {
  font-weight: bold;
  font-size: 55px;
  line-height: 1.5;
}
h2 {
  font-size: 40px;
  font-weight: bold;
}
h4 {
  font-size: 30px;
}
p {
  font-family: var(--paragraph-font-family);
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
}
.coder {
  background: #f9f7fe;
  text-align: center;
  padding: 100px 20px;
}
.coder p {
  font-size: 35px;
  font-weight: bold;
  margin: 0;
}
.coder h2 {
  font-family: var(--paragraph-font-family);
  font-weight: normal;
  font-size: 23px;
  line-height: 1.5;
  opacity: 0.9;
}
.content-coder {
  padding: 100px 20px;
}
.content-coder h1 {
  line-height: 60px;
}
.content-coder h2 {
  font-size: 18px;
  font-family: var(--paragraph-font-family);
}
.content {
  margin: 20px;
}
.content h3 {
  font-size: 24px;
  line-height: 1.5;
}
.content p {
  font-size: 14px;
}

.btn-branding {
  background: var(--primary-color);
  border-radius: 4px;
  color: white;
  font-size: 15px;
  line-height: 20px;
  padding: 15px 40px;
}
.btn-branding-link {
  border-radius: 4px;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  font-size: 15px;
  line-height: 20px;
  padding: 15px 40px;
}
.logo {
  max-height: 40px;
}
nav {
  padding: 20px 0;
}
nav ul {
  padding: 0;
  margin: 0;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}
nav a {
  text-decoration: none;
  color: #272142;
}

nav a:hover,
nav li.active a {
  color: var(--primary-color);
  transition: all 200ms ease-in-out;
}
footer {
  margin: 60px 0;
}
footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
}
footer .email-link:hover {
  color: var(--primary-color);
}
footer .social-links a {
  margin: 20px;
  color: var(--primary-color);
  background: var(--secondary-color);
  padding: 10px 14px;
  border-radius: 50%;
  font-size: 18px;
  transition: all 100ms ease-in-out;
}
footer .contact-box {
  background-color: var(--secondary-color);
  padding: 30px 120px;
  border-radius: 10px;
}
footer .contact-box p {
  margin: 0;
}
footer .social-links a:hover {
  color: white;
  background: var(--primary-color);
}
footer i {
  font-family: "Tangerine", cursive;
  font-size: 25px;
}
@media (max-width: 960px) {
  h1 {
    font-size: 40px;
    line-height: 1.5;
  }
  h4 {
    font-size: 17px;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }
  .content-coder {
    text-align: center;
    padding: 0;
  }
  .img-fluid {
    margin-top: 15px;
  }
  nav a {
    font-size: 14px;
  }
  footer .contact-box p {
    font-size: 14px;
  }
}
