:root {
  --primary-color: #6c63ff;
  --heading-font-family: "Playfair Display SC", serif;
  --paragraph-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--paragraph-font-family);
}
h1,
h2,
h3,
h4,
h5 {
  font-family: var(--heading-font-family);
}
h1 {
  font-weight: bold;
  font-size: 55px;
  line-height: 1.5;
}
h2 {
  font-size: 40px;
  font-weight: bold;
}
p {
  font-family: var(--paragraph-font-family);
  font-weight: normal;
  font-size: 15px;
  line-height: 25px;
}
.coder {
  background: #f9f7fe;
  text-align: center;
  padding: 100px 20px;
}
.coder p {
  font-size: 35px;
  font-weight: bold;
  margin: 0;
}
.coder h2 {
  font-family: var(--paragraph-font-family);
  font-weight: normal;
  font-size: 23px;
  line-height: 1.5;
  opacity: 0.9;
}
.btn-branding {
  background: var(--primary-color);
  border-radius: 4px;
  color: white;
  font-size: 15px;
  line-height: 20px;
  padding: 15px 40px;
}
.btn-branding-link {
  border-radius: 4px;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
  font-size: 15px;
  line-height: 20px;
  padding: 15px 40px;
}
@media (max-width: 960px) {
  h1 {
    font-size: 40px;
    line-height: 1.5;
  }
  .project-description {
    padding: 0;
    text-align: center;
  }
}
